*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
    font-family: 'Segoe UI', Verdana;
    text-align: center;
    background-color: #000;
    color: #fff;
}
.neon-text{
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    text-shadow: 0 0 10px #fff, 0 0 20px #0daeb9, 0 0 30px #0daeb9, 0 0 40px #00ccff, 0 0 70px #00ccff, 0 0 80px #00ccff, 0 0 100px #00ccff, 0 0 150px #00ccff;
    color: white;
}
body{
    background-image: url("../fotos/background.png");
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
.logo{
    width: 80px;
    border-radius: 50%;
    text-align: center;
}
.titulo{
    text-align: center;
    color: aqua;
}
.subtitulo{
    text-align: center;
    color: white;
}
.intro{
    color: white;
    text-align: center;
}
.pages{
    color: aquamarine;
    text-align: center;
}
.imgLoca {
  text-align: center;
}
.catalogo{
    color: white;
}
a{
    text-decoration: none;
}
header{
    color: white;
}
body{
    color: white;
}
.masvendidos{
  width: 100%;
}
.masvendidos table{
    margin: 0 auto;
    color: white;
    text-align: center;
}
button { 
    padding: 10px 20px;
    background-color: #25f8ff;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #1826a8;
}
.product {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
  }
  
  .product img {
    width: 100%;
    border-radius: 8px;
  }
  
  .product h2 {
    margin-top: 10px;
  }
  
  .product p {
    font-weight: bold;
    margin: 5px 0;
  }
  
  button {
    padding: 8px 16px;
    background-color: #00aeff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1400c5;
    color: white;
  }
  .sales {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
  }
  
  .sales img {
    width: 100%;
    border-radius: 8px;
  }
  
  .sales h1 {
    margin-top: 10px;
  }
  
  .sales p {
    font-weight: bold;
    margin: 5px 0;
  }
.comparaiphone{
  display: inline-block
}
.menuu {
  background-color: aqua;
  border-radius: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.menu {
  width: 50%;
  margin: 0 auto;
  border-radius: 20%;
}
.menuu li{
  display: inline-block;
  text-align: center;
}
.menuu li a{
  padding: 20px;
  color: #1400c5;
  text-decoration: none;
  display: inline-block;
}
.menuu li a:hover{
  color: #fff;
  text-align: center;
  width: 80%;
  height: 1rem;
  background-color: #1400c5;
  border-radius: 20%;
}
.whatsapp {
  width: 50px;
  height: 50px;
  margin: 5%;
  position: fixed;
}
.whatsapp img {
  width: 60px;
}
.back {
  text-decoration: none;
  color: white;
}
.arriba a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}
.carritoback a {
  text-decoration: none;
  color: white;
}
.formularioNormal {
  color: white;
  text-align: center;
}
.inscripcion {
  color: white;
  text-align: center;
}
.finalTitle{
  color: white;
  text-align: center;
}
.card {
  background-image: url("../fotos/background.png");
}
.card-header p {
  color: white;
}
.card-body p {
  color: white;
}
.logoCentro {
  width: 100%;
  display: flex;
  justify-content: center;
}
.textoDeCatalogo {
  color: white;
}
.comparaiphone{
  display: flex;
  padding: 5%;
}