@import "_neontitle";
@import "_navbar";
body {
    .finalTitle {
        padding: 4%;
        color: white;
        text-align: center;
    }
    .comparaiphone {
        display: flex;
    padding: 5%;
    }
    .formularioNormal {
        color: white;
                text-align: center;
    }
    .comparativas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
    }
}

@import "_footer";
