.container {
    .row {
        .card {
            background-image: url("../fotos/footerback.jpeg");
            background-size: cover;
            .card-header {
                color: white;
            }
            .card-body {
                p {
                    color: white;
                }
            }
        }
    }
}