*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
@import "_neontitle"; 
.header {
    .whatsapp {
        width: 50px;
        height: 50px;
        margin: 5%;
        position: fixed;
    }
    .logoCentro {
        width: 100%;
        display: flex;
        justify-content: center;
        .logo {
            width: 80px;
            border-radius: 50%;
            text-align: center;
        }
        }
        .inscripcion{
            width: 10px;
            border-radius: 50%;
            text-align: center;}
        }
    .subtitulo {
        text-align: center;
        color: white;}

body {
    background-image: url("../fotos/background.png");
    background-size: cover;
    .introB {
        .intro {
            p {
                color: white;
                text-align: center;
            }
        }
    }
    @import "_navbar";
    .finalTitle {
        padding: 4%;
        color: white;
        text-align: center;
    }
    .tablitaVende {
        padding: 5%;
        .masvendidos {
            width: 100%;
            table{
                margin: 0 auto;
                color: white;
                text-align: center;
            }
        }
    }
    
    .inscripto {
        .inscripcion {
            color: white;
            text-align: center;
            padding: 10px;
        }
        .formularioNormal {
            color: white;
            text-align: center;
            padding: 10px;
        }
    }
}