@import "_neontitle";
@import "_navbar";
body {
    background-image: url("../fotos/background.png");
    .whatsapp {
        width: 50px;
        height: 50px;
        margin: 5%;
        position: fixed;
    }
    .finalTitle {
        padding: 4%;
        color: white;
        text-align: center;}
        main {
            .finalTitle {
                padding: 4%;
        color: white;
        text-align: center;
            }
            .productNuevo {
                text-align: center;
                margin: 20px;
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                color: white;
                border: 10px solid #ffffff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 1.0);
                animation: pulse 1s infinite alternate;
            }
            img {
                max-width: 100%;
                height: auto;
                max-height: 100px;
            }
            @keyframes pulse {
                from {
                    transform: scale(1);
                }
                to {
                    transform: scale(1.1);
                }
            }
            .product {
                display: inline-block;
                margin: 20px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 8px;
                width: 200px;
                .product img {
                    width: 100%;
                    border-radius: 8px;
                }
            }
            .product img {
                width: 100%;
                border-radius: 8px;
            }
            .product h2 {
                margin-top: 10px;
            }
            .product p {
                font-weight: bold;
                margin: 5px 0;
            }
            .textoDeCatalogo {
                color: white;
            }
            .inscripcion {
                color: white;
                text-align: center;
            }
            .formularioNormal {
                color: white;
                text-align: center;
            }

        }
}

@import "_footer";
