* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header .whatsapp {
  width: 50px;
  height: 50px;
  margin: 5%;
  position: fixed;
}
.header .logoCentro {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header .logoCentro .logo {
  width: 80px;
  border-radius: 50%;
  text-align: center;
}
.header .inscripcion {
  width: 10px;
  border-radius: 50%;
  text-align: center;
}

.subtitulo {
  text-align: center;
  color: white;
}

.neon-text {
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  text-shadow: 0 0 10px #fff, 0 0 20px #0daeb9, 0 0 30px #0daeb9, 0 0 40px #00ccff, 0 0 70px #00ccff, 0 0 80px #00ccff, 0 0 100px #00ccff, 0 0 150px #00ccff;
  color: white;
}

body {
  background-image: url("../fotos/background.png");
}
body .introB .intro p {
  color: white;
  text-align: center;
}
body .navbar {
  background-color: rgb(95, 210, 255);
}
body .navbar a {
  color: rgb(0, 44, 189);
}
body .finalTitle {
  padding: 4%;
  color: white;
  text-align: center;
}
body .tablitaVende {
  padding: 5%;
}
body .tablitaVende .masvendidos {
  width: 100%;
}
body .tablitaVende .masvendidos table {
  margin: 0 auto;
  color: white;
  text-align: center;
}
body .inscripto .inscripcion {
  color: white;
  text-align: center;
}
body .inscripto .formularioNormal {
  color: white;
  text-align: center;
  padding: 10%;
}

.neon-text {
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  text-shadow: 0 0 10px #fff, 0 0 20px #0daeb9, 0 0 30px #0daeb9, 0 0 40px #00ccff, 0 0 70px #00ccff, 0 0 80px #00ccff, 0 0 100px #00ccff, 0 0 150px #00ccff;
  color: white;
}

.navbar {
  background-color: rgb(95, 210, 255);
}

.navbar a {
  color: rgb(0, 44, 189);
}

body {
  background-image: url("../fotos/background.png");
}
body .whatsapp {
  width: 50px;
  height: 50px;
  margin: 5%;
  position: fixed;
}
body .finalTitle {
  padding: 4%;
  color: white;
  text-align: center;
}
body main .finalTitle {
  padding: 4%;
  color: white;
  text-align: center;
}
body main .product {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
}
body main .product .product img {
  width: 100%;
  border-radius: 8px;
}
body main .product img {
  width: 100%;
  border-radius: 8px;
}
body main .product h2 {
  margin-top: 10px;
}
body main .product p {
  font-weight: bold;
  margin: 5px 0;
}
body main .textoDeCatalogo {
  color: white;
}
body main .inscripcion {
  color: white;
  text-align: center;
}
body main .formularioNormal {
  color: white;
  text-align: center;
}

.container .row .card {
  background-image: url("../fotos/background.png");
}
.container .row .card .card-header {
  color: white;
}
.container .row .card .card-body p {
  color: white;
}

.neon-text {
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  text-shadow: 0 0 10px #fff, 0 0 20px #0daeb9, 0 0 30px #0daeb9, 0 0 40px #00ccff, 0 0 70px #00ccff, 0 0 80px #00ccff, 0 0 100px #00ccff, 0 0 150px #00ccff;
  color: white;
}

.menu {
  width: 50%;
  margin: 0 auto;
  border-radius: 20%;
}
.menu .pages {
  color: aquamarine;
  text-align: center;
}
.menu .pages .menuu {
  background-color: aqua;
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.menu .pages .menuu li {
  display: inline-block;
  text-align: center;
}
.menu .pages .menuu li a {
  padding: 20px;
  color: #1400c5;
  text-decoration: none;
  display: inline-block;
}
.menu .pages .menuu li :hover {
  padding: 1%;
  color: #fff;
  width: 180%;
  height: 2rem;
  background-color: #1400c5;
  border-radius: 100%;
  justify-content: space-evenly;
}

body {
  background-image: url("../fotos/background.png");
}
body .whatsapp {
  width: 50px;
  height: 50px;
  margin: 5%;
  position: fixed;
}
body .product {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
}
body .product .product img {
  width: 100%;
  border-radius: 8px;
}
body .product img {
  width: 100%;
  border-radius: 8px;
}
body .product h2 {
  margin-top: 10px;
}
body .product p {
  font-weight: bold;
  margin: 5px 0;
}
body .finalTitle {
  padding: 4%;
  color: white;
  text-align: center;
}
body .textoDeCatalogo {
  color: white;
}

.container .row .card {
  background-image: url("../fotos/background.png");
}
.container .row .card .card-header {
  color: white;
}
.container .row .card .card-body p {
  color: white;
}

.neon-text {
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  text-shadow: 0 0 10px #fff, 0 0 20px #0daeb9, 0 0 30px #0daeb9, 0 0 40px #00ccff, 0 0 70px #00ccff, 0 0 80px #00ccff, 0 0 100px #00ccff, 0 0 150px #00ccff;
  color: white;
}

.menu {
  width: 50%;
  margin: 0 auto;
  border-radius: 20%;
}
.menu .pages {
  color: aquamarine;
  text-align: center;
}
.menu .pages .menuu {
  background-color: aqua;
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.menu .pages .menuu li {
  display: inline-block;
  text-align: center;
}
.menu .pages .menuu li a {
  padding: 20px;
  color: #1400c5;
  text-decoration: none;
  display: inline-block;
}
.menu .pages .menuu li :hover {
  padding: 1%;
  color: #fff;
  width: 180%;
  height: 2rem;
  background-color: #1400c5;
  border-radius: 100%;
  justify-content: space-evenly;
}

.whatsapp {
  width: 50px;
  height: 50px;
  margin: 5%;
  position: fixed;
}

body .finalTitle {
  padding: 4%;
  color: white;
  text-align: center;
}
body .formularioNormal {
  color: white;
  text-align: center;
}

.container .row .card {
  background-image: url("../fotos/background.png");
}
.container .row .card .card-header {
  color: white;
}
.container .row .card .card-body p {
  color: white;
}

.neon-text {
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  text-shadow: 0 0 10px #fff, 0 0 20px #0daeb9, 0 0 30px #0daeb9, 0 0 40px #00ccff, 0 0 70px #00ccff, 0 0 80px #00ccff, 0 0 100px #00ccff, 0 0 150px #00ccff;
  color: white;
}

.menu {
  width: 50%;
  margin: 0 auto;
  border-radius: 20%;
}
.menu .pages {
  color: aquamarine;
  text-align: center;
}
.menu .pages .menuu {
  background-color: aqua;
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.menu .pages .menuu li {
  display: inline-block;
  text-align: center;
}
.menu .pages .menuu li a {
  padding: 20px;
  color: #1400c5;
  text-decoration: none;
  display: inline-block;
}
.menu .pages .menuu li :hover {
  padding: 1%;
  color: #fff;
  width: 180%;
  height: 2rem;
  background-color: #1400c5;
  border-radius: 100%;
  justify-content: space-evenly;
}

body .finalTitle {
  padding: 4%;
  color: white;
  text-align: center;
}
body .comparaiphone {
  display: flex;
  padding: 5%;
}
body .formularioNormal {
  color: white;
  text-align: center;
}
body .comparativas {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.container .row .card {
  background-image: url("../fotos/background.png");
}
.container .row .card .card-header {
  color: white;
}
.container .row .card .card-body p {
  color: white;
}

.container .row .card {
  background-image: url("../fotos/background.png");
}
.container .row .card .card-header {
  color: white;
}
.container .row .card .card-body p {
  color: white;
}/*# sourceMappingURL=base.css.map */